<form class="d-flex" method="POST" action="/products/search">
  {{ search_form.hidden_tag() }}
  <input
    class="form-control form-control-sm bg-transparent text-white"
    name="title"
    type="text"
    minlength="3"
    maxlength="128"
    placeholder="Search title..."
  />
  <div class="mx-1"></div>
  <button class="btn btn-sm bg-purple text-white d-flex align-items-center" title="Search product" type="submit">
    <i class="bi bi-search"></i>
    <span class="d-none d-sm-block ms-2">Search</span>
  </button>
</form>
