<form class="d-flex flex-align-center" method="GET" action="/products">
  <label class="d-flex align-items-center" for="sort">Sort by:</label>
  {% if request.args.get('search') %}
    <input type="hidden" name="search" value="{{ request.args.get('search') }}" />
  {% endif %}
  <select class="mx-3" name="sort">
    {% for param in sort_params %}
      {% if param == request.args.get('sort') %}
        <option value="{{ param }}" selected>{{ param|title }}</option>
      {% else %}
        <option value="{{ param }}">{{ param|title }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <input type="hidden" name="page" value="1" />
  <button class="btn btn-sm bg-purple text-white" type="submit">Sort</button>
</form>
